.header {
    border-bottom: 1px solid $--color-border-heade;
}

.header__container {
    display: flex;
}

.header__logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $--logo-color;
    text-decoration: none;
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 24px;
}

.header__logoweb {
    color: $--logo-link-color;
}

/* NAVIGATION */
/* Portfolio */

.ligament__item--marg {
    margin-right: 50px;
}

/*  полоска */
.navigation__link {
    position: relative;
    padding: 32px 0;
}

.curent::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -2px;
    background-color:$--logo-link-color;
    border-radius: 2px;
}

/* полоска */
.navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $--primary-text-color;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .navigation__link:hover,
.navigation .navigation__link:focus {
    color: $--logo-link-color;
}

.navigation {
@extend %centeredFlex;
    margin-left: 93px;
}

.navigation__link.curent {
    color: $--logo-link-color;
}

.navigation__item:not(:first-child) {
    margin-left: 50px;
}

/* tel+adress */
.ligament {
    @extend %centeredFlex;
    margin-left: auto;
}

.ligament .ligament__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $--secondary-text;  
    text-decoration: none;
}

.ligament__link {
    @extend %centeredFlex;
    padding-top: 32px;
    padding-bottom: 32px;
@extend%transit;
}

.ligament__link:hover,
.ligament__link:focus {
    color: $--logo-link-color;
}

.ligament__link:hover svg,
.ligament__link:focus svg {
    fill: $--logo-link-color;
}

/* icon navigation */
.ligament__icon {
    display: block;
    height: 20px;
    width: 16px;
    margin-right: 10px;
    fill: $--hover-icon;
}

.ligament__icon--smartfone {
    display: block;
    height: 16px;
    width: 12px;
    margin-right: 10px;
    fill: $--hover-icon;
}