:root {
  --hover-icon: rgba(117, 117, 117, 1);
  --primary-text-color: rgba(33, 33, 33, 1);
  --logo-link-color: rgba(33, 150, 243, 1);
  --logo-color: rgba(0, 0, 0, 1);
  --primary-background-color: rgba(255, 255, 255, 1);
  --secondary-text: rgba(117, 117, 117, 1);
  --third-text: rgba(255, 255, 255, 0.6);
  --hero-color: rgba(47, 48, 58, 1);
  --active-button: rgba(24, 140, 232, 1);
  --second-background: rgba(245, 244, 250, 1);
  --color-border-heade: rgba(236, 236, 236, 1);
  --border-porfolio: rgba(238, 238, 238, 1);
  --color-mini-iconrgbargba: rgba(175, 177, 184, 1);
  --background-overlay: rgba(196, 196, 196, 1);
  --portfolio-hover: rgba(33, 150, 243, 0.9);
  --border-modal-: rgba(33, 33, 33, 0.2);
}

.icon-nav {
  display: block;
  height: 20px;
  width: 16px;
  margin-right: 10px;
  fill: var(--hover-icon);
}
.icon-nav-list {
  display: block;
  height: 16px;
  width: 12px;
  margin-right: 10px;
  fill: var(--hover-icon);
}

.link-nav {
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav:hover svg,
.link-nav:focus svg {
  fill: var(--logo-link-color);
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.antena {
  width: 70px;
  height: 70px;
}
.pading-list {
  margin-bottom: 50px;
}

.fottext {
  color: var(--primary-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.container-foter {
  display: flex;
  align-items: baseline;
}

.conect {
  margin-left: 93px;
}
.container .list-social {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-top: 20px;
}
.footer1 .link1 {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-background-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer1 .link1:hover,
.footer1 .link1:focus {
  background-color: var(--logo-link-color);
  fill: var(--primary-background-color);
}
.footer2 .link2 {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  fill: var(--color-mini-iconrgbargba);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer2 .link2:hover,
.footer2 .link2:focus {
  background-color: var(--logo-link-color);
  fill: var(--primary-background-color);
}
.footer2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.list-comandos {
  display: flex;
}

.footer3 .link3 {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(175, 177, 184, 1);
  background-color: var(--primary-background-color);
  fill: var(--color-mini-iconrgbargba);
  gap: 30px;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer3 .link3:hover,
.footer3 .link3:focus {
  fill: rgba(33, 150, 243, 1);
  background-color: var(--primary-background-color);
  border: 1px solid var(--logo-link-color);
}
.list-social3 {
  display: flex;
  gap: 30px;
}
/*  5 дз */
/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* .box-thumb:hover::before {
  opacity: 1;
} */
.box-thumb {
  position: relative;
}
.text-programe {
  width: 100%;
  height: 70px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* PORTFOLIO */
.animation-portfolio {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-elements:hover .portfolio-text {
  transform: translateY(0);
  background-color: var(--portfolio-hover);
}
/* PORTFOLIO */
/* modal+backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  flex-direction: column;
  width: 521px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* icon button */
.icon-close {
  position: absolute;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
}
.close-button:hover,
.close-button:focus {
  fill: var(--logo-link-color);
}

/* Adds animation when hovering. */
.box-telegram {
  margin-left: auto;
}
.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-color);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}

.box-social {
  display: flex;
  margin-top: 20px;
}
.button-box > .icon-telegram {
  margin-left: 10px;
}
.button-box {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--logo-link-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-box:hover,
.button-box:focus {
  color: var(--primary-background-color);
  background-color: var(--active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-moadal {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--logo-link-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus {
  color: var(--primary-background-color);
  background-color: var(--active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-moadal {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--logo-link-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus {
  color: var(--primary-background-color);
  background-color: var(--active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 2px;
}
.button-modal {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--logo-link-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus {
  color: var(--primary-background-color);
  background-color: var(--active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal {
  padding: 40px 40px;
}
.contract-text {
  color: var(--secondary-text);
  border-radius: 4px;
  transition: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;
}

.contract-link {
  color: var(--logo-link-color);
  text-decoration: none;
  text-decoration-line: underline;
}
.modal-transformation {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.input-wrap {
  position: relative;
}
.modal-transformation svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
textarea {
  resize: none;
  border: 1px solid var(--border-modal-);
  border-radius: 4px;
  padding: 0;
  padding-left: 16px;
  padding-top: 12px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.modal-transformation input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid var(--border-modal-);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-transformation > .primary-label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--secondary-text);
  margin-bottom: 4px;
}
.modal-submit {
  display: flex;
  justify-content: center;
}
.modal-transformation svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-transformation:focus-within svg {
  fill: var(--logo-link-color);
}
.modal-transformation:focus-within textarea {
  border: 1px solid var(--logo-link-color);
}
.modal-transformation:focus-within input {
  border: 1px solid var(--logo-link-color);
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}
.checkbox:checked + .icon-contr {
  background-color: var(--logo-link-color);
  background-size: contain;
  background-origin: content-box;
  border-color: var(--logo-link-color);
}

.icon-contr {
  display: inline-block;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 10px;
}
